<router-outlet></router-outlet>
<!--
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-login ></app-login>      
    </div>
    <div class="col-6">
      <app-register></app-register>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">AppComponent</h5>
          <p class="card-text">Valor: valor: {{valor}}</p>
          <a href="#" class="btn btn-primary" (click)="sumar()">Incrementar</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->